<div class="page">
  <div class="glass">
    <span class="glass-content">
      <div>
        <p class="title autumn-color">Weather Forecast!</p>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <span matPrefix> </span>
          <input type="text" id="buttonSearch" aria-label="BntSearch" matInput
            placeholder="Search Weather For your City" name="search" (ngModelChange)="onSearchChange($event)"
            [(ngModel)]="searchValue">
          <button matSuffix mat-button (click)="onSearchClick()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <ng-container *ngIf="!weatherEmpty;else empty">
        <div>
          <app-city-info-box [cityInfo]="weatherInfo.city"></app-city-info-box>
        </div>
        <span class="section">
          <app-weather-info-box *ngFor="let day of days" [weatherInfo]="day"></app-weather-info-box>
        </span>
      </ng-container>
    </span>
  </div>
</div>

<ng-template #empty>
  <div class="section">
    <app-error-message></app-error-message>
  </div>
</ng-template>