<div class="day-title">
    <h2 aria-label="Day Info">{{weatherInfo.date | date: 'EEEE, d MMMM'}}</h2>
</div>
<div class="container">
    <div class="weather-data">
        <mat-selection-list [multiple]="false">
            <mat-list *ngFor="let hour of weatherInfo.hourPeriod">
                <div class="list">
                    <mat-icon mat-list-icon>
                        <img [src]="getSafeUrl(hour.weather[0].icon)" height="40px" alt="weather">
                    </mat-icon>
                    <div aria-label="Weather information" calss="list-desc">
                        <div aria-label="Weather Description" class="list-desc-label"> {{hour.weather[0].main}}</div>
                        <div aria-label="Weather Hour" class="list-desc-label"> {{hour.dt_txt | date: 'HH:mm'}} </div>
                    </div>
                    <div aria-label="Weather Temperature" class="list-desc-label list-temp">
                        {{hour.main.temp | number : '1.2-2'| celsius }}
                    </div>

                </div>
            </mat-list>
        </mat-selection-list>
    </div>
    <div class="see-more">
        <button mat-button (click)="openFullDayDialog()">See Full Data</button>
    </div>
</div>