mat-list-option{
    height: 45px !important;
    margin: 5px;
    width: 95%;
}

mat-icon{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.container{
    font-size: 14px;
    width: 120%;
    height: 90%;
    text-align: center;
    background: rgba(255,255,255,0.3);
    padding: 20px;
}

.day-title{
    width: 275px;
    text-align: center;
    margin: 16px 0 10px 0;
}
.see-more{
    height: 10%;
}
.weather-data{
    height: 90%;
}

.list{
    display:flex; 
    justify-content:space-between;
    align-items:center;
    width:100%;
}

