<div class="container">
    <div class="info-row">
        <span class="info-row-label">Średnia temperatura</span>
        <span class="info-row-value">{{weatherInfo.main?.temp}}</span>
    </div>
    <div class="info-row">
        <span class="info-row-label">Odczuwalna temperatura</span>
        <span class="info-row-value">{{weatherInfo.main?.feels_like}}</span>
    </div>
    <div class="info-row">
        <span class="info-row-label">Wilgortoność</span>
        <span class="info-row-value">{{weatherInfo.main?.humidity}}</span>
    </div>
    <div class="info-row">
        <span class="info-row-label">Ciśnienie</span>
        <span class="info-row-value">{{weatherInfo.main?.pressure}}</span>
    </div>

</div>
